<!-- app/views/bills/show.html.erb -->
<div class="row">
  <div class="col-md-12">
    <h1>Bill Details</h1>
    <p>Amount: <%= @bill.amount %></p>
    <p>Description: <%= @bill.description %></p>
    <%= link_to 'Back to Bills', employee_bills_path(@employee), class: 'btn btn-secondary' %>
  </div>
</div>
